html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.upload-drop input {
    display:none;
}

.full_logo {
    padding-left: 80px;
}

.logo {
    background-color: #333;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo span {
    color: white;
    font-size: 30px;
    position: relative;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.judul_nav {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

.logo,
.judul_nav {
    display: inline-block;
    vertical-align: middle;
}

.navbar {
    background-color: #fff;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    font-family: sans-serif;
    border-bottom: 1px solid #333;
    position: fixed;
    z-index: 9999;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-right: 200px;
}

.nav-item {
    margin: 0 10px;
    position: relative;
}

.nav-item a {
    color: #333;
    margin-left: 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.nav-item a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: #969beb;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav-item a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.nav-item a:hover {
    color: #969beb;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(10px);
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu li a {
    display: block;
    padding: 10px;
    margin-left: 0;
    color: #333;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.home {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.home-left {
    max-width: 40%;
    margin-right: 10%;
}

.home-left h1 {
    color: #333;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home-left p {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn-upload {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #969beb;
    color: #fff;
    border-radius: 40px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.btn-upload:hover {
    background-color: #595d8e;
}

.home-right {
    width: 50%;
}

.gambar {
    width: 100%;
    border: 5px solid #969beb;
    border-radius: 10px;
}

.tutorial {
    height: 100vh;
    align-items: center;
    position: relative;
}

.background {
    margin-top: 120px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background: linear-gradient(to top right, #959beb, #f76ae0);
    z-index: -1;
}

.content {
    padding-top: 170px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.content h1 {
    font-size: 50px;
    margin-top: 50px;
    color: white;
}

.steps {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    color: #333;
}

.step {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding-right: 40px;
    padding-left: 40px;
    width: 225px;
    margin: 0 15px;
    justify-content: center;
}

.step i {
    font-size: 50px;
    padding-right: 20px;
    color: #333;
}

.content-step {
    height: 100%;
    width: 100%;
    text-align: left;
}

.content-step p {
    font-size: 15px;
    margin-bottom: 30px;
    color: #333;
}

.step h2 {
    color: #333;
    margin-bottom: 10px;
}

.tutorial .btn-upload {
    display: flex;
    margin-top: 130px;
    width: 20%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.fitur {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    padding-top: 2.5rem;
}

.fitur-right {
    max-width: 40%;
    height: 60%;
}

#fitur1 .fitur-right {
    text-align: right;
    margin-right: 2%;
}

.fitur-right h1 {
    color: #333;
    font-size: 3rem;
    margin-bottom: 3.5rem;
}

.fitur-right p {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}

.fitur-left {
    width: 50%;
}

.image-stack {
    position: relative;
    margin-bottom: 23rem;
}

.image-stack img {
    position: absolute;
    width: 65%;
}

.image-stack img:nth-child(1) {
    top: 0;
    left: 0px;
    z-index: 1;
}

.image-stack img:nth-child(2) {
    top: 0px;
    left: 75px;
    z-index: 2;
}

.image-stack img:nth-child(3) {
    top: 0px;
    left: 150px;
    z-index: 3;
}

.image-stack img:nth-child(4) {
    top: 0px;
    left: 225px;
    z-index: 4;
}

#fitur2 .fitur-right {
    margin-left: 3rem;
}

.image-stack2 {
    position: relative;
    margin-bottom: 22rem;
    margin-right: 1rem;
}

.image-stack2 .gambar1 {
    position: absolute;
    width: 80%;
    border: 5px solid #969beb;
    border-radius: 10px;
    top: 0rem;
    left: 8rem;
    z-index: 1;
}

.image-stack2 .gambar2 {
    background-color: white;
    position: absolute;
    width: 40%;
    border: 5px solid #969beb;
    border-radius: 10px;
    top: 14rem;
    left: 0rem;
    z-index: 2;
}

.upload-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.upload-left {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-upload {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 90%;
    margin-top: 50px;
    border-radius: 2rem;
}

.upload-drop {
    border: 7px dashed #abaaaa;
    padding: 4rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview_sketch{
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview_sketch img{
    width: 65%;
    border: 7px dashed #abaaaa;
    padding: 1rem;
    border-radius: 2rem;
}

.upload-icon {
    font-size: 70px;
    margin-bottom: 20px;
    color: #515151;
}

.upload-text {
    font-size: 25px;
    margin-bottom: 3rem;
    font-weight: bold;
    text-align: center;
}

.upload-browse {
    font-size: 16px;
    padding: 10px 20px;
    color: #696beb;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.upload-browse:hover {
    color: #969beb;
}

.upload-right {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.upload-title {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: bold;
    margin-right: 10rem;
}

.upload-desc {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 100px;
    text-align: left;
}

.upload-pickcolor {
    margin-right: 2rem;
    margin-top: 10px;
}

.upload-color {
    height: 25px;
    width: 25px;
    margin: auto;
    cursor: pointer;
}
.none-color {
    height: 25px;
    width: 25px;
    margin: auto;
    pointer-events: none;
}

.upload-download {
    font-size: 16px;
    padding: 20px 180px;
    background-color: #969beb;
    border-radius: 3rem;
    color: white;
    border: none;
    opacity: 0.5;
    pointer-events: none;
    margin-bottom: 0.5rem;
    margin-right: 4rem;
}

.siap-download{
    font-size: 16px;
    padding: 20px 180px;
    background-color: #5762f4;
    border-radius: 3rem;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    margin-bottom: 0.5rem;
    margin-right: 4rem;
    transition: all 0.3s ease-in-out
}

.siap-download:hover{
    background-color: #020751;
}

.bawah-download {
    display: flex;
    flex-direction: row;
    margin-right: 4rem;
}

.upload-checkbox {
    margin-top: 12px;
}

#compress {
    cursor: pointer;
}