<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/css/all.min.css')}}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/sweetalert2.min.css')}}" type="text/css">
    <title>Image to Sketch</title>
</head>

<body>
    <script>
        AOS.init();
    </script>      
    <nav class="navbar" data-aos="fade-down" data-aos-duration="800">
        <div class="full_logo" data-aos="fade-right" data-aos-duration="1000">
            <a href="#">
                <div class="logo"><span>3</span></div>
                <div class="judul_nav">Image to Sketch</div>
            </a>
        </div>
        <ul class="nav-menu" data-aos="fade-left" data-aos-duration="1000">
            <li class="nav-item"><a href="#home" class="active">Home</a></li>
            <li class="nav-item"><a href="#tutorial">Tutorial</a></li>
            <li class="nav-item dropdown">
                <a href="#fitur1 #fitur2">Fitur <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#fitur1">ColorChange</a></li>
                    <li><a href="#fitur2">Compress</a></li>
                </ul>
        </ul>
    </nav><!-- Navbar -->

    <section id="home" class="home">
        <div class="home-left" data-aos="fade-right" data-aos-duration="1000">
            <h1>Ubah gambarmu menjadi sketsa yang menarik secara gratis.</h1>
            <p>Buatlah sketsa gambarmu dengan mudah, ubahlah warna sketsa sesuai dengan keinginanmu menggunakan fitur
                yang kami sediakan</p>
            <a href="/upload" class="btn-upload" data-aos="zoom-in" data-aos-duration="1500">Upload Image Kamu</a>
        </div>
        <div class="home-right" data-aos="fade-left" data-aos-duration="1000">
            <img src="{{url_for('static', filename='img/home.png')}}" alt="Gambar_home" class="gambar">
        </div>
    </section><!-- Home -->

    <section id="tutorial" class="tutorial">
        <div class="background" data-aos="fade-down" data-aos-duration="1000"></div>
        <div class="content" data-aos="zoom-out" data-aos-duration="1500">
            <h1>Cara Menggunakan Image To Sketch.</h1>
            <div class="steps">
                <div class="step" data-aos="fade-down" data-aos-duration="2000">
                    <i class="fas fa-upload"></i>
                    <div class="content-step">
                        <h2>1. Select</h2>
                        <p>Pilihlah gambar yang ingin dijadikan sketsa dengan format Image</p>
                    </div>
                </div>
                <div class="step" data-aos="fade-down" data-aos-duration="2200">
                    <i class="fas fa-image" style="color: #969beb;"></i>
                    <div class="content-step">
                        <h2>2. Color Image</h2>
                        <p>Ubah warna sketsa sesuai keinginan anda</p>
                    </div>
                </div>
                <div class="step" data-aos="fade-down" data-aos-duration="2400">
                    <i class="fas fa-image"></i>
                    <div class="content-step">
                        <h2>3. Sketch</h2>
                        <p>Sistem akan mengubah image sesuai dengan warna keinginanmu</p>
                    </div>
                </div>
                <div class="step" data-aos="fade-down" data-aos-duration="2600">
                    <i class="fas fa-download"></i>
                    <div class="content-step">
                        <h2>4. Download</h2>
                        <p>Sketsa gambarmu siap untuk di download, kamu juga bisa men-compress ukuran filemu dahulu</p>
                    </div>
                </div>
            </div>
            <a href="/upload" class="btn-upload" data-aos="zoom-in" data-aos-duration="1000">Upload Image Kamu</a>
        </div>
    </section> <!-- Tutorial -->

    <section class="fitur" id="fitur1">
        <div class="fitur-left">
            <div class="image-stack">
                <img src="{{url_for('static', filename='img/fitur4.png')}}" alt="Gambar 4" data-aos="fade-right" data-aos-duration="2400">
                <img src="{{url_for('static', filename='img/fitur3.png')}}" alt="Gambar 3" data-aos="fade-right" data-aos-duration="1900">
                <img src="{{url_for('static', filename='img/fitur2.png')}}" alt="Gambar 2" data-aos="fade-right" data-aos-duration="1400">
                <img src="{{url_for('static', filename='img/fitur1.png')}}" alt="Gambar 1" data-aos="fade-right" data-aos-duration="900">
            </div>
        </div>
        <div class="fitur-right" data-aos="fade-left" data-aos-duration="900">
            <h1>Pilih warna favoritmu untuk gambar sketsa yang lebih menarik.</h1>
            <p>Kami memilki fitur yang bisa membuat gambar sketsamu lebih berwarna dan menarik.
                Semua warna bisa kamu pilih untuk dijadikan warna sketsa yang kamu buat.</p>
            <a href="/upload" class="btn-upload" data-aos="zoom-in" data-aos-duration="800">Upload Image Kamu</a>
        </div>
    </section><!-- colorchange -->

    <section class="fitur" id="fitur2">
        <div class="fitur-right" data-aos="fade-right" data-aos-duration="900">
            <h1 id="demo">Compres sketsamu untuk menghemat penyimpanan data.</h1>
            <p>Fitur Compres memungkinkan kamu untuk mengurangi ukuran file dengan cepat dan mudah, sehingga dapat menghemat ruang
                penyimpanan datamu.</p>
            <a href="/upload" class="btn-upload" data-aos="zoom-in" data-aos-duration="500">Upload Image Kamu</a>
        </div>
        <div class="fitur-left move-in">
            <div class="image-stack2" data-aos="fade-left" data-aos-duration="900">
                <img src="{{url_for('static', filename='img/fitur1.png')}}" alt="Gambar_home" class="gambar1">
                <img src="{{url_for('static', filename='img/fitur1.png')}}" alt="Gambar_home" class="gambar2"data-aos="fade-left" data-aos-duration="500">
            </div>
        </div>
    </section><!-- colorchange -->
    <script src="{{ url_for('static', filename='js/home.js') }}"> </script>
</body>

</html>