<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/css/all.css')}}" type="text/css">
    <title>Image to Sketch</title>
</head>

<body>
    <nav class="navbar">
        <div class="full_logo">
            <a href="/">
                <div class="logo"><span>3</span></div>
                <div class="judul_nav">Image to Sketch</div>
            </a>
        </div>
        <ul class="nav-menu">
            <li class="nav-item"><a href="/#home">Home</a></li>
            <li class="nav-item"><a href="/#tutorial">Tutorial</a></li>
            <li class="nav-item dropdown">
                <a>Fitur <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/#fitur1">ColorChange</a></li>
                    <li><a href="/#fitur2">Compress</a></li>
                </ul>
            </li>
        </ul>
    </nav><!-- Navbar -->

    <div class="upload-container">
        <div class="upload-left">
            <div class="content-upload">
                {%if file_path%}
                    <div class="preview_sketch">
                        <img src="{{file_path}}" alt="preview_sketch">
                    </div>
                {%else %}
                    <form action="/upload/sketch" enctype="multipart/form-data" method="POST">
                        <div class="upload-drop">
                            <i class="fas fa-image upload-icon"></i>
                            <div class="upload-text">Drag & drop an image</div>
                            <input type="file" name="upload" id="upload"  accept="image/*">
                            <label for="upload" class="upload-browse">Browse on your device</label>
                        </div>
                    </form>
                {%endif%}
            </div>
        </div>
        <div class="upload-right">
            <div class="upload-title">Image to Sketch</div>
            <div class="upload-desc">Membuat sketsa gambar jadi lebih mudah dan menarik.</div>
            <form action="/download" method="GET">
                    {%if file_path%}
                        <button type="submit" class="siap-download">Download</button>
                    {%else%}
                        <button class="upload-download" disabled>Download</button>
                    {%endif%}
            </form>
            <div class="bawah-download"> 
                <div class="upload-pickcolor">
                    <form action="/uploaded_sketch/coloring" method="POST" enctype="multipart/form-data">
                        <label for="upload-color-input">Pilih warna:</label>
                        <input type="color" name="color" id="color" {% if file_path %} class="upload-color" onchange="this.form.submit()" {%else%} class="none-color" disabled{% endif %}>
                    </form>
                </div>
                <div class="upload-checkbox">
                    <label for="compress">Compress</label>
                    <input type="checkbox" id="compress">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>